<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="商品名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:xhimage:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:xhimage:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:xhimage:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form id="dataForm" class="form-horizontal">
					 <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">图片类型</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text"  class="form-control" v-model="xhImage.imgType" placeholder="图片类型"/>-->
                        <!--</div>-->
                    <!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">图片类型</div>
                <label class="radio-inline">
                    <input type="radio" name="imgType" value="1" v-model="xhImage.imgType"/> 大轮播图
                </label>
                <label class="radio-inline">
                    <input type="radio" name="imgType" value="2" v-model="xhImage.imgType"/> 小轮播图
                </label>
            </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">图片上传</div>
                        <div class="col-sm-10">
                            <input type="text" id="imgUrl" class="form-control" v-model="xhImage.imgUrl" readonly/>
                            <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">商品id</div>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" v-model="xhImage.goodsId" placeholder="商品id"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">图片排序</div>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" v-model="xhImage.displayOrder" placeholder="图片排序"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/xhimage.js?_${.now?long}"></script>
</body>
</html>