<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.orderId" @keyup.enter="query" placeholder="订单号码">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:xhorder:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:xhorder:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:xhorder:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xhOrder.orderId" placeholder="订单编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户昵称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xhOrder.userName" placeholder="用户昵称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">支付方式</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xhOrder.pid" placeholder="支付方式"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xhOrder.orderTime" placeholder="订单时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">总价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xhOrder.totalPrices" placeholder="总价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xhOrder.status" placeholder="订单状态"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/xhorder.js?_${.now?long}"></script>
</body>
</html>